
main {
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.character-list-container {
  display: flex;
  justify-content: center;
  background-color:rgb(39, 43, 51);

}

app-character-list-component {
 width: 100%;
 max-width: 800px;
}
