<div>
  <div class="search">
    <input
      [(ngModel)]="search"
      (ngModelChange)="onSearchChange()"
      type="search"
      class="form-control"
      placeholder="Search..."
    />
  </div>

  <div *ngIf="suggestionMessage">
    <p>{{ suggestionMessage }}</p>
  </div>

  <div *ngIf="characters.length">
    <div class="character-grid">
      <div
        *ngFor="
          let character of filteredCharacters
            | paginate
              : {
                  id: 'characterPagination',
                  itemsPerPage: pageSize,
                  currentPage: currentPage
                }
        "
        class="character-card"
      >
        <div>
          <img [src]="character.image" alt="{{ character.name }}" />
        </div>

        <div class="character-info">
          <a [routerLink]="['/character', character.id]">{{
            character.name
          }}</a>
          <div class="status-container">
            <div
              class="status-icon"
              [ngClass]="{
                alive: character.status === 'Alive',
                dead: character.status === 'Dead',
                unkown: character.status === 'unknown'
              }"
            ></div>
            <div>{{ character.status }} - {{ character.species }}</div>
          </div>

          <p>Last known location :</p>
          <div>{{ character.location.name }}</div>
          <p>First seen in :</p>
          <div>{{ character.firstEpisodeName }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagecont">
    <pagination-controls
      (pageChange)="pageChanged($event)"
      id="characterPagination"
      [maxSize]="5"
      [directionLinks]="true"
      [autoHide]="false"
      [responsive]="true"
    ></pagination-controls>
  </div>
</div>
