.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.character-card {
  background-color: #3b3e43;
  color: #ffffff;
  border-radius: 8px;
  width: 500px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-right: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.character-card img {
  width: 200px;
  height: 250px;
  border-radius: 8px;
}

.character-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
}

.status-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.character-info h2 {
  margin-bottom: 10px;
}

.character-info p {
  margin: 5px 0;
  font-size: 14px;
}

.status-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-icon.alive {
  background-color: green;
}

.status-icon.dead {
  background-color: red;
}
